*{
  margin:0;
  padding:0;
  box-sizing:border-box;
font-family: 'Roboto', sans-serif;
text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap');
#img-div{
text-align: center;
}
#main{
  background-color:EEEEEE;
}
#title{
  padding:20px 20px 20px 20px;
}
#para{
  padding:10px;
}
#imgcaption{
  background-color:white;
}
#img-caption{
font-size:20px;
padding-top:20px;
}
#tributeHeading3{
  padding-top:35px;
  padding-bottom:35px;
}
#image{
  display:block;
  max-width:100%;
}
ul {
  list-style-type: disc;
}
li{
display: list-item;
}
#quete{
padding-top:50px;
font-weight: 200;

}